<div id="{{ id }}" class="{{ class }}">
  <div class="container">
      {{> sectionHeader title=title lead=lead }}
    <div class="row">
      <table class="table">
        <thead>
          <tr>
          {{#each data.[0]}}
            <th>{{ @key }}</th>
          {{/each }}
          </tr>
        </thead>

        {{#each data}}
          <tr>
          {{#each this}}

            <td>{{{formatLink this }}}</td>
          {{/each}}
          <tr>
          <!-- Here we allow the user to specify how the item is rendered -->
        {{/each}}
      </table>
    </div>
  </div>
</div>
