{
  "presets": [
    ["env", {
      "targets": {
        "node": "6",
        "browsers": ["last 2 versions", "safari >= 7"]
      },
    }],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}
