body {
  font-family: 'proxima-nova', sans-serif, Arial;
}

.item {
  img {
    max-width: 70px;
  }
}

.jumbotron {
  img {
    width: 200px;
    animation: fly 5s infinite;
  }
}

@keyframes fly {
  0% {
    @include transform(scale(.6) rotate(-25deg));
  }
  50% {
    @include transform(scale(.5) rotate(25deg));
  }
  100% {
    @include transform(scale(.6) rotate(-25deg));
  }
}
