body {
  font-family: 'proxima-nova', sans-serif, Arial;
}

.bg-blue {
  background: $brand-primary;
  color: #fff;
}

.item {
  img {
    max-width: 70px;
  }
}

.jumbotron {
  img {
    width: 800px;
  }
}
