<div class="{{ local.class }}">
  <div class="container">
      {{> sectionHeader title=local.title lead=local.lead }}
    <div class="row">
      {{#each local.items}}
        <!-- Here we allow the user to specify how the item is rendered -->
        {{> item title=this.title lead=this.lead image=this.image }}
      {{/each}}
    </div>
  </div>
</div>
