<div id="{{ id }}" class="{{ class }}">
  <div class="container">
      {{> sectionHeader title=title lead=lead }}
    <div class="row">
      {{#each items}}
      {{#remainder @index ../itemsPerRow}}
    </div><div class="row p-1">
      {{/remainder}}
        {{> item title=this.title lead=this.lead image=this.image itemsPerRow=../itemsPerRow}}
      {{/each}}
    </div>
  </div>
</div>
