<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="/">
   {{fallback title global.sitename }}
 </a>
  <ul class="nav navbar-nav">
    {{#each items}}
      <!-- Here we allow the user to specify how the item is rendered -->
      <li class="nav-item">
        {{> link text=this.text href=this.href }}
      </li>
    {{/each}}
  </ul>
</nav>
